@import 'app-common';
@import '~nativescript-theme-core/scss/platforms/index.android';

.button {
    font-family: 'Roboto Medium';
    height: 46;
}

ActionBar {
    background-color: #F5F5F5;
    padding-top: 20;
}