<ActionBar title="Add Land">
    <NavigationButton text="Back" android:icon="res://ic_arrow_back_white"></NavigationButton>
    <ActionItem (tap)="goToDetails()" ios.systemIcon="16" ios.position="right" text="Details" android:icon="res://ic_done_white"></ActionItem>
</ActionBar>
<GridLayout rows="*, auto">
    <MapView row="0" (mapReady)="onMapReady($event)" (markerEndDragging)="updatePoligon()"></MapView>
    <StackLayout row="1">
        <Button text="Complete Details" (tap)="goToDetails()"></Button>
        <Button text="add" (tap)="addMarkerInCurrentLocation()"></Button>
    </StackLayout>
</GridLayout>