<ActionBar title="Your Lands" >
    <NavigationButton text="Back" android:icon="res://ic_arrow_back_black" (tap)="logout()"></NavigationButton>
    <ActionItem (tap)="logout()" ios.position="right" text="Logout" android:icon="res://ic_exit_to_app_black"></ActionItem>
</ActionBar>
<GridLayout rows="*" columns="*">
    <ListView row="0" [items]="list | async" separatorColor="transparent" backgroundColor="#FAFAFA">
        <ng-template let-item="item" >
            <CardView class="card" margin="12" elevation="8" radius="4">
                <GridLayout rows="175, 125" columns="*" class="card-inner" style="background-image: url('{{generateStaticMap(item.points)}}')">
                    <StackLayout row="1" col="0" class="card-content" >
                        <Label [text]="item.name" class="list-item-name"></Label>
                        <Label [text]="item.description" class="list-item-description"></Label>
                        <StackLayout orientation="horizontal" horizontalAlignment="right">
                            <Button class="button" (tap)="delete(item)" text="Delete"></Button>
                            <Button class="button" (tap)="goToDetails(item.id)" text="Details"></Button>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView> 
    <Fab row="0" (tap)="addNew()" icon="res://ic_add_white" rippleColor="#f1f1f1" class="fab-button"></Fab>
</GridLayout>