<ActionBar title="Your Lands" >
    <NavigationButton text="Back" android:icon="res://ic_arrow_back_black" (tap)="logout()"></NavigationButton>
    <ActionItem (tap)="logout()" ios.systemIcon="16" ios.position="right" text="Logout" android:icon="res://ic_exit_to_app_black"></ActionItem>
</ActionBar>
<GridLayout rows="*" columns="*">
    <ListView row="0" [items]="list | async" (itemTap)="onItemTap(event)" class="list-group">
        <ng-template let-item="item" >
          <StackLayout class="list-group-item">
            <Label [text]="item.name" class="list-group-item-heading"></Label>
            <Label [text]="item.description" class="list-group-item-text"></Label>
          </StackLayout>
        </ng-template>
    </ListView> 
    <Fab row="0" (tap)="addNew()" icon="res://ic_add_white" rippleColor="#f1f1f1" class="fab-button"></Fab>
</GridLayout>