<ActionBar title="Details" class="action-bar">
    <NavigationButton (tap)="back()" text="Back" android:icon="res://ic_arrow_back_white"></NavigationButton>
</ActionBar>
<GridLayout rows="300, *, auto" columns="*" class="main-layout">
   <StackLayout row="0">
       <Image [src]="img$ | async" stretch="aspectFill"></Image>
   </StackLayout>
    <Gradient width="100%" height="80" row="0" direction="to bottom" colors="rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)" verticalAlignment="top"></Gradient>
    <StackLayout row="1" *ngIf="land$ | async; let land; else loading" >
         
        <StackLayout class="item">
            <Label class="label"  hint="Name" text=""></Label>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="item">
            <Label class="label" hint="Description" text=""></Label>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="item">
            <Label class="label" hint="Country Identifier" text=""></Label>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="item">
            <Label class="label" hint="Area" text=""></Label>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
    </StackLayout>
    <ng-template #loading>
        <GridLayout>
            <Label text="Loading Land Data..." textWrap="true"></Label>
        </GridLayout>  
    </ng-template>
</GridLayout>